<% layout("/layouts/boilerplates") %> 

    <style>
        #filters {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .filter{
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: 0.7;
        }
        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .filter p {
            font-size: 0.8rem;
        }

        .tax-info{
            display: none;
        }

        .tax-toggle{
            border: 1px solid black;
            border-radius: 1rem;
            height: 3.2rem;
            padding: 1rem;
            margin-left: 2rem;
            display: flex;
            align-items: center;
            opacity: 0.7;
        }

        .tax-toggle:hover {
            opacity: 1;
        }
    </style>

    <div id="filters">
        <div class="filter <%= typeof category !== 'undefined' && category === 'Trending' ? 'active-filter' : '' %>" onclick="filterCategory('Trending')">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Trending</p>
        </div>
    
        <div class="filter  <%= typeof category !== 'undefined' && category === 'Rooms' ? 'active-filter' : '' %>" onclick="filterCategory('Rooms')">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Rooms</p>
        </div>

        <div class="filter <%= typeof category !== 'undefined' && category === 'Iconic cities' ? 'active-filter' : '' %>" onclick="filterCategory('Iconic cities')">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic cities</p>
        </div>
    
        <div class="filter <%= typeof category !== 'undefined' && category === 'Mountains' ? 'active-filter' : '' %>" onclick="filterCategory('Mountains')">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>

        <div class="filter <%= typeof category !== 'undefined' && category === 'Castles' ? 'active-filter' : '' %>" onclick="filterCategory('Castles')">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
    
        <div class="filter <%= typeof category !== 'undefined' && category === 'Amazing Pools' ? 'active-filter' : '' %>" onclick="filterCategory('Amazing Pools')">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </div>

        <div class="filter <%= typeof category !== 'undefined' && category === 'Camping' ? 'active-filter' : '' %>" onclick="filterCategory('Camping')">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
    
        <div class="filter <%= typeof category !== 'undefined' && category === 'Farms' ? 'active-filter' : '' %>" onclick="filterCategory('Farms')">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>

        <div class="filter <%= typeof category !== 'undefined' && category === 'Arctic' ? 'active-filter' : '' %>" onclick="filterCategory('Arctic')">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>

        <div class="filter <%= typeof category !== 'undefined' && category === 'Domes' ? 'active-filter' : '' %>" onclick="filterCategory('Domes')">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>Domes</p>
        </div>
    
        <div class="filter <%= typeof category !== 'undefined' && category === 'Boats' ? 'active-filter' : '' %>" onclick="filterCategory('Boats')">
            <div><i class="fa-solid fa-ship"></i></div>
            <p>Boats</p>
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
            </div>
        </div>
    
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for (let listing of allListings){ %>
     <a href="/listings/<%=listing._id%>" class="listing-link">
      <div class="card col listing-card">
        <img 
         src="<%=listing.image.url%>" 
         class="card-img-top" 
         alt="listing-image" 
         style="height: 20rem;"
        />

        <div class="card-img-overlay"></div>
        <div class="card-body">
         <p class="card-text">
            <b><%= listing.title %></b><br>
            <%= listing.description %> <br>
            &#8377; <%= listing.price.toLocaleString("en-In") %>/ Night
            <i class="tax-info">&nbsp; +18 % GST</i>
         </p>
         </div>
      </div>
    </a>
   <% } %>
    </div>


<script>
    // Tax Toggle
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo) {
            if(info.style.display != "inline") {
                info.style.display = "inline";
            } else {
                info.style.display = "none";
            }
        };
    });

    // Category Filter
    function filterCategory(category) {
        window.location.href = `/listings?category=${encodeURIComponent(category)}`;
    }
</script>


